DB_USER="mongo"
DB_PASS="1234"
DB_NAME="backend_golang_gin"
DB_STRING="host=postgres user=mongo password=1234 dbname=backend_golang_gin port=5432 sslmode=disable"
DB_CONTEXT="postgresql"
TRACE_TYPE="STDOUT"
SERVICE_NAME="fleet-service"
GCP_PROJECT_ID="gcp-project-id"